In [1]:
import pyhs2

In [2]:
import pandas as pd
import numpy as np

arr = np.empty(33)

In [7]:
!sudo apt-get install -f libc6 libc-dev-bin

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 libc-dev-bin : Depends: libc6 (< 2.25) but 2.26-6 is to be installed
                Recommends: manpages-dev but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

In [3]:
import pyhs2
l=[];
count=0;
with pyhs2.connect(host='c8-auto-hadoop-service-3.srv.media.net',
                   port=10000,
                   authMechanism="PLAIN",
                   user='hdfs',
                   password='',
                   database='default') as conn:
    with conn.cursor() as cur:
        #Show databases
        #print cur.getDatabases()
        cur.execute("select * from misc.ffm_v1_data_daily where chunk_no = 32 and domain_name = 'msn.com' and url_tot_imp > 1000 and kwd_tot_imp > 1000 limit 100000")
        for i in cur.fetch():
            count=count+1;
#             if(count%1000 ==0):
#                 print count;
            l.append(i);
#             print i
            
arr = np.asarray(l);

In [5]:
len(l)

100000

In [6]:

labels = ["creative_id", "country_code", "metro_code", "keyword_count", "kid", "kwt", "kbc", "domain_name", "browser_id", "device_id", "os_id", "url_category", "kwd_category_id", "view_id", "hour_id", "canonical_url_hash", "trim_url", "http_referer", "kwp", "weight", "keyword_impression", "kwd_click", "ad_click", "url_tot_imp", "url_tot_conv", "url_total_revenue", "kwd_tot_imp", "kwd_tot_conv", "kwd_total_revenue", "global_bucket_id", "external_call_bit", "stats_date", "chunk_no"]

In [7]:
df = pd.DataFrame(l, columns = labels)
df[0:5]

,creative_id,country_code,metro_code,keyword_count,kid,kwt,kbc,domain_name,browser_id,device_id,...,url_tot_imp,url_tot_conv,url_total_revenue,kwd_tot_imp,kwd_tot_conv,kwd_total_revenue,global_bucket_id,external_call_bit,stats_date,chunk_no
0,417117671,CA,0,3,329481833,232,c0f3831826d6510374e6edc36db3762b.d2s,msn.com,5,4,...,35433.288626,31,8.894930,11886,5.0,1.507600,214843,0,20180406,32
1,417117671,CA,0,3,329494060,284,1202668066,msn.com,14,4,...,3821.204616,4,1.532260,7639671,12478.0,10097.547411,214843,0,20180426,32
2,417117671,CA,0,3,329502121,201,a11baa17a8bbd1d3380ac161274ced89.d2s,msn.com,14,4,...,83793.804390,38,29.476947,62573,57.0,10.556700,214842,0,20180411,32
3,417117671,CA,0,3,329513846,284,1202668066,msn.com,6,2,...,52350.250809,30,5.274957,7006418,27790.0,8004.924603,214842,0,20180502,32
4,417117671,CA,0,3,329513846,284,1202668066,msn.com,6,2,...,150441.394369,220,39.987858,7006418,27790.0,8004.924603,214843,0,20180430,32

In [8]:
urlimpfilter = df['url_tot_imp'] >1000 
kwdconvfilter = df['kwd_tot_imp']>1000

In [9]:
df[urlimpfilter & kwdconvfilter].size

3300000

In [10]:
df.size

3300000

In [47]:
df.to_csv("/opt/ffmpythontests/short_data.csv", sep='~')